<div>
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div>
            <NavLink href="DataGrid" Match="NavLinkMatch.All">
                DataGrid
            </NavLink>
        </div>
        <div>
            <NavLink href="Label" Match="NavLinkMatch.All">
                Label
            </NavLink>
        </div>
        <div>
            <NavLink href="TextBox" Match="NavLinkMatch.All">
                Textbox
            </NavLink>
        </div>
        <div>
            <NavLink href="Search" Match="NavLinkMatch.All">
                Search
            </NavLink>
        </div>
    </nav>
</div>